parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/CSPro/CSProResponse.php

		-
			message: "#^Access to an undefined property App\\\\CSPro\\\\CSProSchemaValidator\\:\\:\\$logger\\.$#"
			count: 1
			path: src/CSPro/CSProSchemaValidator.php

		-
			message: "#^Function getSchemaVersion not found\\.$#"
			count: 1
			path: src/CSPro/CSProSchemaValidator.php

		-
			message: "#^Instantiated class App\\\\CSPro\\\\Data\\\\Exception not found\\.$#"
			count: 3
			path: src/CSPro/Data/BinaryJSONConverter.php

		-
			message: "#^Variable \\$conn in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: src/CSPro/Data/DataSettings.php

		-
			message: "#^Variable \\$dataSetting in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/CSPro/Data/DataSettings.php

		-
			message: "#^Variable \\$parentItem might not be defined\\.$#"
			count: 1
			path: src/CSPro/Data/MySQLQuestionnaireSerializer.php

		-
			message: "#^Variable \\$occLabel in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/CSPro/Dictionary/Item.php

		-
			message: "#^Access to an undefined property App\\\\CSPro\\\\Dictionary\\\\JsonDictionaryParser\\:\\:\\$languageKeyIndexMap\\.$#"
			count: 1
			path: src/CSPro/Dictionary/JsonDictionaryParser.php

		-
			message: "#^Caught class App\\\\CSPro\\\\Dictionary\\\\JsonException not found\\.$#"
			count: 1
			path: src/CSPro/Dictionary/JsonDictionaryParser.php

		-
			message: "#^Anonymous function has an unused use \\$enumType\\.$#"
			count: 1
			path: src/CSPro/Dictionary/Parser.php

		-
			message: "#^Caught class App\\\\CSPro\\\\Dictionary\\\\Exception not found\\.$#"
			count: 1
			path: src/CSPro/Dictionary/Parser.php

		-
			message: "#^Variable \\$occLabel in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/CSPro/Dictionary/Record.php

		-
			message: "#^Access to private property \\$name of parent class App\\\\CSPro\\\\Dictionary\\\\DictBase\\.$#"
			count: 2
			path: src/CSPro/Dictionary/Relation.php

		-
			message: "#^Access to constant RFC3339 on an unknown class App\\\\CSPro\\\\DateTime\\.$#"
			count: 1
			path: src/CSPro/DictionaryHelper.php

		-
			message: "#^Call to static method createFromFormat\\(\\) on an unknown class App\\\\CSPro\\\\DateTime\\.$#"
			count: 1
			path: src/CSPro/DictionaryHelper.php

		-
			message: "#^Method App\\\\CSPro\\\\DictionaryHelper\\:\\:associateCaseBinaryItems\\(\\) should return App\\\\CSPro\\\\type but return statement is missing\\.$#"
			count: 1
			path: src/CSPro/DictionaryHelper.php

		-
			message: "#^Variable \\$parentItem might not be defined\\.$#"
			count: 1
			path: src/CSPro/DictionaryHelper.php

		-
			message: "#^Variable \\$rangeCount in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/CSPro/DictionaryHelper.php

		-
			message: "#^Variable \\$includeOptions in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/CSPro/DictionarySchemaHelper.php

		-
			message: "#^Access to an undefined property App\\\\CSPro\\\\FileManager\\\\FileManagerFlysystem\\:\\:\\$config\\.$#"
			count: 3
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Instantiated class League\\\\Flysystem\\\\Adapter\\\\Ftp not found\\.$#"
			count: 1
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Instantiated class League\\\\Flysystem\\\\AwsS3v3\\\\AwsS3Adapter not found\\.$#"
			count: 1
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Instantiated class League\\\\Flysystem\\\\AzureBlobStorage\\\\AzureBlobStorageAdapter not found\\.$#"
			count: 1
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Instantiated class League\\\\Flysystem\\\\Rackspace\\\\RackspaceAdapter not found\\.$#"
			count: 1
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Instantiated class League\\\\Flysystem\\\\Sftp\\\\SftpAdapter not found\\.$#"
			count: 1
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Instantiated class Superbalist\\\\Flysystem\\\\GoogleStorage\\\\GoogleStorageAdapter not found\\.$#"
			count: 1
			path: src/CSPro/FileManager/FileManagerFlysystem.php

		-
			message: "#^Variable \\$dictPermission in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/CSPro/User/Role.php

		-
			message: "#^Function IsLessThan not found\\.$#"
			count: 1
			path: src/CSPro/VectorClock.php

		-
			message: "#^Variable \\$content might not be defined\\.$#"
			count: 1
			path: src/Controller/api/FilesController.php

		-
			message: "#^Anonymous function has an unused use \\$request\\.$#"
			count: 1
			path: src/Controller/api/UserController.php

		-
			message: "#^Anonymous function has an unused use \\$userController\\.$#"
			count: 1
			path: src/Controller/api/UserController.php

		-
			message: "#^Constant USERNAME not found\\.$#"
			count: 2
			path: src/Controller/api/UserController.php

		-
			message: "#^Access to an undefined property App\\\\Controller\\\\ui\\\\DataSettingsController\\:\\:\\$kernel\\.$#"
			count: 14
			path: src/Controller/ui/DataSettingsController.php

		-
			message: "#^Caught class App\\\\Controller\\\\ui\\\\Exception not found\\.$#"
			count: 1
			path: src/Controller/ui/DataSettingsController.php

		-
			message: "#^Instantiated class Server not found\\.$#"
			count: 1
			path: src/Controller/ui/DataSettingsController.php

		-
			message: "#^Anonymous function has an unused use \\$response\\.$#"
			count: 1
			path: src/EventSubscriber/TokenSubscriber.php

		-
			message: "#^Access to an undefined property App\\\\Security\\\\AppsVoter\\:\\:\\$security\\.$#"
			count: 4
			path: src/Security/AppsVoter.php

		-
			message: "#^Access to an undefined property App\\\\Security\\\\DictionaryVoter\\:\\:\\$security\\.$#"
			count: 9
			path: src/Security/DictionaryVoter.php

		-
			message: "#^Access to an undefined property App\\\\Security\\\\UserVoter\\:\\:\\$security\\.$#"
			count: 3
			path: src/Security/UserVoter.php

		-
			message: "#^Caught class App\\\\Service\\\\GuzzleHttp\\\\Exception\\\\RequestException not found\\.$#"
			count: 1
			path: src/Service/HttpHelper.php
